autopep8==1.5.5
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
chromedriver-py==89.0.4389.23
click==7.1.2
Flask==1.1.2
Flask-Cors==3.0.10
future==0.18.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.6.2
MarkupSafe==1.1.1
pycodestyle==2.6.0
python-dateutil==2.8.1
requests==2.25.1
rope==0.18.0
selenium==3.141.0
simplejson==3.17.2
six==1.15.0
soupsieve==2.2
toml==0.10.2
urllib3==1.26.3
Werkzeug==1.0.1
